* {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.7px;
    color: black;
}

body {
    background-size: cover;
    color: aliceblue;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    background-image: url("./resources/background.png");
    background-size: cover;
}

.header-container {
    background: rgba(125, 90, 80, .35);
    text-align: center;
    padding-top: 5.5rem;
    padding-bottom: 1rem;
}

.header-brand-banner {
    font-family: 'Mea Culpa', cursive;
    font-size: 4.1rem;
    letter-spacing: 2.7px;
    color: black;
    margin-bottom: 3rem;
    text-shadow: 0.45px 0.45px 0.45px white;
    /* border: 2px black solid; */
}

.header-nav-bar {
    padding-left: 27vw;
    padding-right: 27vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-self: center;
    justify-content: space-around;
}

.tab-btn {
    background: none;
    border: none;
    font-size: 1.2rem;
}

.tab-btn:hover {
    border-bottom: 2px solid;
    border-color: black;
    transform: translateY(-10%);
}

.tab-btn.active {
    border-bottom: 2px solid;
    border-color: black;
}

.restaurant-body {
    width: 60vw;
    align-self: center;
    flex-grow: 2;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    justify-self: center;
    border: 2.1px #DFD7BF solid;
    border-radius: 5px;
    background-color: rgba(100, 89, 77, .5);

    padding-top: 4.1vh;
    padding-bottom: 4.1vh;
}

.restrau-brief-text {
    margin-top: 1.25vh;
    margin-bottom: 4.1vh;
    margin-left: 5vw;
    margin-right: 5vw;
}

.restrau-special {
    display: flex;
    margin-bottom: 3vh;
}

.restrau-special-image {
    margin-left: 5vw;
    border-radius: 8px;
    border: 2.9px black solid;

}

.restrau-special-text {
    display: flex;
    padding-left: 2vw;
    flex-direction: column;
    text-align: left;
    padding-right: 5vw;
}

.restrau-special-title {
    margin-bottom: 1.1vw;
    text-decoration: underline;
}

.footer-container {
    background: rgba(125, 90, 80, .35);
    padding-top: 2vh;
    padding-bottom: 2vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-self: center;
}

.footer-textbox {
    margin-right: 1vw;
}

.footer-icon {
    margin-left: 1vw;
    transform: translateY(-20%);
}